        <div class="card">
            <div class="card-body">
                <form action="/images/add" method="POST"
                enctype="multipart/form-data">
<div class="mb-3">
                            <label for="producto">Producto</label>
                            <input type="text" name="producto" class="form-control form-control-lg"
                            placeholder="Ingrese Producto" required/>                            
                        </div>
                        <div class="mb-3">
                            <label for="marca">Marca</label>
                            <input type="text" name="marca" class="form-control form-control-lg"
                            placeholder="Ingrese Marca" required/>                            
                        </div>
                        <div class="mb-3">
                            <label for="tipo">Tipo</label>
                            <input type="text" name="tipo" class="form-control form-control-lg"
                            placeholder="Ingrese Tipo" required/>                            
                        </div>
                        <div class="mb-3">
                            <label for="stock">Stock</label>
                            <input type="text" name="stock" class="form-control form-control-lg"
                            placeholder="Ingrese Stock" required/>                            
                        </div>
                        <div class="mb-3">
                            <label for="precio">Precio</label>
                            <input type="text" name="precio" class="form-control form-control-lg"
                            placeholder="Ingrese Precio" required/>                            
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Selecciona Imagen</label>
                            <input type="file" name="image" class="form-control form-control-lg" required/>                            
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Agregar Producto" class="btn btn-primary btn-lg"/>                            
                        </div>
                </form>
            </div>
        </div>